:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --succes: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f4266;
  --hero-background: #2e2f42b2;
  --white-background: #ffffff;
  --modal-backgroung: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text);
  background-color: var(--white-background);
}

a {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.h-one-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-background);
  max-width: 496px;
  margin-bottom: 48px;
}

.h-two-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}

.h-three-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}

.centered-title {
  text-align: center;
}

.p-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.text-centered {
  text-align: center;
  margin-bottom: 8px;
}

.small-text {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.04em;
}

.medium-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.button {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-brand);
  color: var(--white-background);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--pressed-state);
}

.link {
  text-decoration: none;
  display: block;
}

.link:hover,
.link:focus {
  color: var(--pressed-state);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-brand);
  text-transform: uppercase;
  margin-right: 76px;
}

.white {
  color: var(--accent);
}

.studio-logo {
  color: var(--dark);
}

.studio-logo-white {
  color: var(--light);
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.h-three-title-portfolio {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}

.portfolio-content {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
  padding-left: 0;
}

.button-filter {
  font-family: "Roboto", sans-serif;
  background-color: var(--light);
  color: var(--primary-brand);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--accent);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:focus,
.button-filter:hover {
  color: var(--white-background);
  background-color: var(--pressed-state);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0;
  padding-left: 0;
}

.portfolio-el {
  width: calc((100% - 48px) / 3);
  /* overflow: hidden; */
}

.wrapper-portfolio-el {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .portfolio-p {
  transform: translateY(0%);
}

.portfolio-link:focus .portfolio-p {
  transform: translateY(0%);
}

.portfolio-image-container {
  position: relative;
  overflow: hidden;
}

.portfolio-p {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* FOOTER */

.footer {
  background-color: var(--dark);
  color: var(--white-background);
  padding: 100px 0;
}

.footer-text {
  line-height: 1.5;
  color: var(--light);
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-first {
  margin-right: 120px;
}

.footer-socials-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
  margin-bottom: 16px;
}

.footer-socials-list {
  display: flex;
  gap: 16px;
  margin: 0;
  padding-left: 0;
}

.foot-soc-el {
  width: 40px;
  height: 40px;
}

.foot-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-soc-link:hover,
.foot-soc-link:focus {
  background-color: var(--succes);
}

.foot-soc-svg {
  fill: var(--light);
}

.sub-text {
  margin-bottom: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
}

.sub-form {
  display: flex;
  gap: 24px;
}

.sub-label {
}

.sub-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--white-background);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-background);
}

.sub-input::placeholder {
  color: var(--white-background);
}

.footer-socials {
  padding-right: 80px;
}

.sub-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  cursor: pointer;
  background-color: var(--primary-brand);
  border: none;
  border-radius: 4px;
}

.sub-button:hover,
.sub-button:focus {
  background-color: var(--pressed-state);
}

.sub-button-svg {
  margin-left: 16px;
}
