:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --succes: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f4266;
  --hero-background: #2e2f42b2;
  --white-background: #ffffff;
  --modal-backgroung: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text);
  background-color: var(--white-background);
}

a {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.h-one-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-background);
  max-width: 496px;
  margin-bottom: 48px;
}

.h-two-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}

.h-three-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}

.centered-title {
  text-align: center;
}

.p-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.text-centered {
  text-align: center;
  margin-bottom: 8px;
}

.small-text {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.04em;
}

.medium-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.button {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-brand);
  color: var(--white-background);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--pressed-state);
}

.link {
  text-decoration: none;
  display: block;
}

.link:hover,
.link:focus {
  color: var(--pressed-state);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-brand);
  text-transform: uppercase;
  margin-right: 76px;
}

.white {
  color: var(--accent);
}

.studio-logo {
  color: var(--dark);
}

.studio-logo-white {
  color: var(--light);
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/*HEADER*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-elements {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 40px;
  margin: 0;
  padding-left: 0;
}

.menu-link {
  position: relative;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: var(--pressed-state);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--pressed-state);
  border-radius: 2px;
  width: 100%;
}

address {
  font-style: normal;
}

.adress-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

/* MAIN-SCREEN */

.main-screen {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  color: var(--white-background);
  background-color: var(--dark);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* BLOCK-2 */

.block-second {
  padding: 120px 0;
}

.about-menu {
  display: flex;
  gap: 24px;
  margin: 0;
  padding-left: 0;
}

.element-list {
  width: calc((100% - 72px) / 4);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--light);
  border-radius: 4px;
  margin-bottom: 8px;
}
/* BLOCK-3 */

.block-third {
  padding-bottom: 120px;
}

.img-menu {
  display: flex;
  gap: 24px;
  margin: 0;
  padding-left: 0;
}

.img-element {
  width: calc((100% - 48px) / 3);
}

/* BLOCK-4 */

.block-fourth {
  background-color: var(--light);
  padding: 120px 0;
}

.list-el {
  background-color: var(--white-background);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.wrapper {
  padding: 32px 0;
}

.socials-team {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.socials-team-icon {
  width: 40px;
  height: 40px;
}

.socials-team-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-team-link:hover {
  background-color: var(--pressed-state);
}

.socials-team-link:focus {
  background-color: var(--pressed-state);
}

.socials-team-svg {
  fill: var(--light);
}

/* BLOCK-5 */

.fifth-block {
  padding-top: 120px;
  padding-bottom: 120px;
}

.cust-list {
  margin: 0;
  padding-left: 0;
  display: flex;
  gap: 24px;
}

.cust-el {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.cust-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--subtle-text);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cust-link:hover {
  border-color: var(--pressed-state);
  color: var(--pressed-state);
}

.cust-link:focus {
  border-color: var(--pressed-state);
  color: var(--pressed-state);
}

.cust-svg {
  fill: currentColor;
}
/* filter block  */

/* portfolio-content */

.h-three-title-portfolio {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}

.portfolio-content {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
  padding-left: 0;
}

.button-filter {
  font-family: "Roboto", sans-serif;
  background-color: var(--light);
  color: var(--primary-brand);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--accent);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:focus,
.button-filter:hover {
  color: var(--white-background);
  background-color: var(--pressed-state);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0;
  padding-left: 0;
}

.portfolio-el {
  width: calc((100% - 48px) / 3);
  /* overflow: hidden; */
}

.wrapper-portfolio-el {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .portfolio-p {
  transform: translateY(0%);
}

.portfolio-link:focus .portfolio-p {
  transform: translateY(0%);
}

.portfolio-image-container {
  position: relative;
  overflow: hidden;
}

.portfolio-p {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* FOOTER */

.footer {
  background-color: var(--dark);
  color: var(--white-background);
  padding: 100px 0;
}

.footer-text {
  line-height: 1.5;
  color: var(--light);
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-first {
  margin-right: 120px;
}

.footer-socials-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
  margin-bottom: 16px;
}

.footer-socials-list {
  display: flex;
  gap: 16px;
  margin: 0;
  padding-left: 0;
}

.foot-soc-el {
  width: 40px;
  height: 40px;
}

.foot-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-soc-link:hover,
.foot-soc-link:focus {
  background-color: var(--succes);
}

.foot-soc-svg {
  fill: var(--light);
}

.sub-text {
  margin-bottom: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
}

.sub-form {
  display: flex;
  gap: 24px;
}

.sub-label {
}

.sub-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--white-background);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-background);
}

.sub-input::placeholder {
  color: var(--white-background);
}

.footer-socials {
  padding-right: 80px;
}

.sub-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  cursor: pointer;
  background-color: var(--primary-brand);
  border: none;
  border-radius: 4px;
}

.sub-button:hover,
.sub-button:focus {
  background-color: var(--pressed-state);
}

.sub-button-svg {
  margin-left: 16px;
}
/* MODAL */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: var(--modal-backgroung);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 72px 24px 24px 24px;
}

.close-modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-button:hover {
  background-color: var(--pressed-state);
  border: none;
}

.close-modal-button:focus {
  background-color: var(--pressed-state);
  border: none;
}

.close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-button:hover,
.close-modal-button:focus {
  fill: var(--white-background);
}

.modal-text {
  text-align: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--dark);
  margin-bottom: 16px;
}

.modal-form-container {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
  display: block;
  margin-bottom: 4px;
}

.modal-input-container {
  position: relative;
}

.input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  border-color: var(--primary-brand);
}

.input:focus + svg {
  fill: var(--primary-brand);
}

.input-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-svg:focus {
  fill: var(--primary-brand);
}

.modal-form-container-text {
  margin-bottom: 16px;
}

.textarea-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-comment:focus {
  border-color: var(--primary-brand);
}

.modal-form-container-checkbox {
  margin-bottom: 24px;
}

.input-checkbox {
}

.label-checkbox {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}

.privacy-custom {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.input-checkbox:checked + .label-checkbox .privacy-custom {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--light);
}

.privacy-link {
  color: var(--primary-brand);
  text-decoration: underline;
}

.button-submit {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  cursor: pointer;
  background-color: var(--primary-brand);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit:hover,
.button-submit:focus {
  background-color: var(--pressed-state);
}
